{% extends 'base.html' %}

{% block chamada %}TESTE{% endblock %}

{% block corpo %}


    <section id="global">

        <div class="page-header">
             <h2>Nova votação</h2>
        </div>
        
        <form action="" method="post"> {% csrf_token %}
	
			{{ form.nome.label_tag }}
			{{ form.nome }}
			<span class="error_forms">{{ form.nome.errors }}</span>
			
			{{ form.dataDoAlmoco.label_tag }}
			<div>
				
				{{ form.dataDoAlmoco }} <input type="text" id="id_dataDoAlmoco_hour" />
				<span class="error_forms">{{ form.dataDoAlmoco.errors }}</span>
			</div>
		
			{{ form.diaDaSemana }}
			{{ form.encerrada }}
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Criar votação</button>
                <a href="{% url url_home %}" class="btn">Cancelar</a>
            </div>

        </form>

    </section>	
	
	
	

{% endblock corpo %}

{% block javascript %}
<script type="text/javascript">
	$(function(){
		$("form").submit(function(){
			var inpDate = $("#id_dataDoAlmoco");
			inpDate.val(inpDate.val().trim() + ' ' + $("#id_dataDoAlmoco_hour").val().trim());
		});
	});
</script>

{% endblock javascript %}
