{% extends 'base.html' %}

{% load static %}

{% block chamada %}TESTE{% endblock %}

{% block corpo %}

	<div align="center">
        <h1>Cardápio do dia</h1>
        <!--
        <input data-datepicker="datepicker" class="small" type="text" value="05/08/2011" />
        -->
        <p>Chega de perder tempo para decidir onde almoçar</p>
        <p><a href="{% url url_criar_votacao %}" class="btn btn-primary btn-large">Criar Votação</a></p>
        <img src="{% static 'img/cardapiododia_mapa.jpg'%}">
    </div>
	
{% endblock corpo %}

{% block javascript %}
{% endblock javascript %}
