{% extends 'base.html' %}

{% block chamada %}VOTACAO{% endblock %}

{% block corpo %}

    <section id="global">

        <div class="page-header">
            <h2>{{ votacao.nome }}</h2>
            <h4>{{ votacao.dataDoAlmoco }}</h4>
            <h6><a href="{% url url_opcoes_votacao votacao.id %}">Compartilhe esta URL para votação</a></h6> 
        </div>
        
        <table align="center">
         {% for cardapio in cardapio_list %}
              <tr>
                 <td colspan="3"><h2>{{cardapio.restaurante}}</h2></td>
              </tr>
              <tr>
                <td><img width="120" src="{{ MEDIA_URL }}{{ cardapio.restaurante.logotipo }}" class="img-rounded"></td>
                <td><img width="540" src="{{ MEDIA_URL }}{{ cardapio.restaurante.cardapioGeral }}" class="img-polaroid"></td>
                <td>
                    <form action="{% url url_novo_voto votacao.id %}" method="post">{% csrf_token %}
                        <input type="hidden" name="id_restaurante" value="{{ cardapio.restaurante.id }}">
                        <input type="text" name="nome" class="input-small" placeholder="Seu nome...">
                        <p><button type="submit" class="btn btn-primary">Votar</button></p>
                    </form>
                </td>
              </tr>
         {% endfor %}
       </table>
 
    </section>	


{% endblock corpo %}

{% block javascript %}
{% endblock javascript %}
