{% load static %}
<div id="sobre" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<table>
			<tr>
				<td><img src="{% static 'img/gf.jpg' %}" width="50" height="70" /></td>
				<td>
					<h3>Cardápio do Dia</h3>
					<h4>Versão 1.0</h4>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-body">
		<p>Desenvolvido por: Roger Camargo, Guilherme Gambeti e Rogério Avelino.</p>
        <h3>Gostou do projeto</h3>
        <p><a href="https://github.com/huogerac/cardapiododia/star">Siga</a>
           ou faça um <a href="https://github.com/huogerac/cardapiododia/fork_select">fork</a> do projeto no github.
        </p>
        <h3>Colabore com o projeto:</h3>
        <p>Reportar <a href="https://github.com/huogerac/cardapiododia/issues?labels=question%2Cwontfix%2CIdeia%2CBug&page=1&state=open">bugs</a></p>
		<p>Sugestões ou novas <a href="https://github.com/huogerac/cardapiododia/issues?labels=question%2Cwontfix%2CBug%2CIdeia&page=1&state=open">ideias</a></p>
	</div>
	<div class="modal-footer">
		<a id="removeConteudoSobre" href="#" class="btn">Fechar</a>
	</div>
</div>
